@media screen and (min-width: 400px) {
    .container {
        width: 375px;
    }

    picture {
        border-radius: 10px 10px 0 0;
    }

    .content {
        border-radius: 0 0 10px 10px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 625px;
        width: 50%;
    }

    picture, .content {
        width: 50%;
    }

    picture {
        border-radius: 10px 0 0 10px;
    }

    .content {
        border-radius: 0 10px 10px 0;
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.product-name,
.discounted-price {
    font-family: 'Fraunces', serif;
}

:root {
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /*Primary colors*/
    --green: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /*Secondary colors*/
    --dark-blue: hsl(212, 21%, 14%);
    --grayish-blue: hsl(228, 12%, 48%);
    --dark-green: hsl(158, 36%, 24%);
    --white: hsl(0, 0%, 100%);
}

/*Layout*/

body {
    background-color: var(--cream);

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#product-image-mobile {
    width: 100%;

    /*This removes the white space below the image*/
    display: block;
}

.content {
    background-color: var(--white);
    padding: 1.75rem;

    display: flex;
    align-items: center;
}

.price {
    width: 100%;

    margin-bottom: 1rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

button {
    width: 100%;
    height: 3.5rem;

    background-color: var(--green);
    border: none;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.product {
    margin-top: 0;
}

/*Font styles and layout*/

.product {
    font-weight: normal;
    letter-spacing: 0.5rem;
}

.product,
.product-description,
.original-price {
    font-size: 1rem;
    color: var(--grayish-blue);
}

.product-name,
.discounted-price {
    font-size: 2.5rem;
}

.product-name {
    margin: 1rem 0;
    line-height: 2.5rem;
}

.product-description {
    line-height: 1.75rem;
}

/*screen reader accessibility*/
.original-price::before, .original-price::after {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

.original-price::before {
    content: " [start of stricken text] ";
}

.original-price::after {
    content: " [end of stricken text] ";
}

.discounted-price {
    color: var(--green);
}

a {
    text-decoration: none;
}

button {
    color: var(--white);
    font-weight: 700;
    font-size: 1.15rem;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    cursor: pointer;
    background-color: var(--dark-green);
}